/* Fewbytes theme for reveal.js
*/

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFFFFF;
$mainColor: #4a565b; 

$mainFont: 'Open Sans', Times, 'Times New Roman', serif;
$linkColor: hsl(185, 85%, 50%);
// $linkColorHover: lighten( $linkColor, 20% );
$headingColor: #0085ca;
$headingTextShadow: none;
$headingLetterSpacing: 0.02em;
$headingTextTransform: none;
$headingLineHeight: 0.9em;
$headingFont:'Open Sans', sans-serif;
$headingTextTransform: uppercase;
// $selectionBackgroundColor: #e7ad52;
$mainFontSize: 30px;

@mixin bodyBackground() {
    background: $backgroundColor;
	font-size: 32px;
	font-weight: 200;
	letter-spacing: -0.02em;
}

// Theme template ------------------------------
@import "../template/theme";

@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}


/*********************************************
 * GLOBAL STYLES
 *********************************************/


.reveal p { 
	text-align: left;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4 {
	margin: 0 0 30px 0;
	font-weight: bold;
    word-wrap: break-word;
    word-break: normal;
}

html.blue-bg .reveal h1 { color: #ffffff; text-align: center; font-size: 84px; line-height: 1.1em; }
html.blue-bg .reveal h2 { color: rgb(13,68,110); background-color: #0085ca; text-align: center; font-size: 60px; line-height: 1.2em; padding: 15px 0; margin-bottom:60px;}
.reveal h1 { text-align: center; font-size: 84px; line-height: 1.1em; }
.reveal h2 { background-color: #f8f8f8; text-align: center; font-size: 60px; line-height: 1.2em; padding: 15px 0; margin-bottom:60px;}
.reveal h3 { font-size: 48px; line-height: 1.3em; }
.reveal h4 { font-size: 36px; line-height: 1.4em; }

.reveal h1.inverted,
.reveal h2.inverted,
.reveal h3.inverted,
.reveal h4.inverted {
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

/*********************************************
 * Lists
 *********************************************/

.reveal ol, 
.reveal ul {
	display: inline-block;
	text-align: left;
	margin: 0 auto 40px auto;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-image: url(../../lib/images/bullet.png);
	text-align: left;
  padding: 0px 0px 0px 34px;
  display: block;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  display: block;
  margin: 30px auto;
	
}

.reveal a:hover img {
    background: rgba(255,255,255,0.2);
    border-color: #13DAEC;
    
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * Quotes
 *********************************************/

.quotee{
	padding-top:75px;
	padding-bottom: 10px;
  display: block;
}
.quotee img{
	margin:0 auto;
}
.quoteename{
	margin: auto;
	text-align: center;
	clear:both;
	display: block;
	font-size: 20px;
	line-height: 24px;
}

.quoteeposition{
	margin: auto;
	text-align: center;
	clear:both;
	color:#999;
	font-size: 20px;
	display: block;
	line-height: 24px;
}

.reveal blockquote {
display: block;
position: relative;
	/*width: 860px;*/
	margin: 5px auto;
	/*padding: 5px;*/
	text-align: center;
	font-size:28px;	
	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	padding-top:50px;
	/*box-shadow: 0px 0px 2px rgba(0,0,0,0.2);*/
}
.reveal blockquote:before {
  vertical-align: top;
  display: block;
  content: "";
  width: 109px;
  height: 78px;
  float:left;
  position: relative;
  top:-40px;
  background: transparent url('../lib/images/quote-open.png') no-repeat;
}
.reveal blockquote:after {
  display: block;
  content: "";
  width: 109px;
  height: 78px;
  float:right;
  position: relative;
  top:10px;
  background: transparent url('../lib/images/quote-close.png') no-repeat;
}

/*********************************************
 * BLUE BG PAGES
 *********************************************/
html.blue-bg body {
	background: #0085ca;
	color: #0d446e;
}

html.green-bg body { 
    background: -webkit-linear-gradient(#8BB736, #719A3A);
}

html.green-bg h1 {
    color: black;
}
	
html.blue-bg .reveal {
  color: #ffffff;
}

html.blue-bg .reveal .controls {
	display: none !important;
}

html.blue-bg .reveal h3 {
	color: #0d446e;
	text-align: center;
	margin: 70px 0 0 0;
}

html.blue-bg .reveal .slides section {
	text-align: center;
}

/*********************************************
 * Misc
 *********************************************/
p.contact-details {
  margin-top: 2em;
}
p.contact-details a:not(.image) { 
  color: rgb(190,190,190);
}

p.contact-details a:not(.image):hover { 
  color: rgb(200,200,200);
}

p.punchline { 
  color: #AB2200;
  font-size: 50px;   
  text-align: center;
}

